<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~/.config/openbox/menu.xml
  openbox menu configuration

  Aaron LI
  2015-01-09
-->

<openbox_menu xmlns="http://openbox.org/"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://openbox.org/
                                  file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="OPENBOX 3">
  <item label="_Run Program">
    <action name="Execute">
      <execute>rofi -show run</execute>
    </action>
  </item>
  <separator />
  <item label="_Terminal">
    <action name="Execute">
      <execute>urxvtc || urxvt || x-terminal-emulator</execute>
    </action>
  </item>
  <item label="_Web browser">
    <action name="Execute">
      <execute>x-www-browser</execute>
    </action>
  </item>
  <item label="_File Manager">
    <action name="Execute">
      <execute>thunar</execute>
    </action>
  </item>
  <item label="_Editor">
    <action name="Execute">
      <execute>gvim || mousepad</execute>
    </action>
  </item>
  <separator />
  <menu id="screenshots" label="_Screenshot...">
    <item label="_now">
      <action name="Execute">
        <execute>scrot -e 'mv $f ~/pictures'</execute>
      </action>
    </item>
    <item label="in _3 seconds...">
      <action name="Execute">
        <execute>scrot -d 3 -e 'mv $f ~/pictures'</execute>
      </action>
    </item>
    <item label="_select window/region">
      <action name="Execute">
        <execute>scrot -s -e 'mv $f ~/pictures'</execute>
      </action>
    </item>
    <item label="_active window">
      <action name="Execute">
        <execute>scrot -bud 2 -e 'mv $f ~/pictures'</execute>
      </action>
    </item>
  </menu>
  <separator />
  <menu id="places" label="_Places" execute="~/.config/openbox/scripts/pipemenu-places ~/" />
  <separator />
  <menu id="client-list-menu" />
  <separator />
  <item label="_Configure">
    <action name="Execute"><execute>obconf</execute></action>
  </item>
  <menu id="session" label="Session">
    <item label="Reconfigure">
      <action name="Reconfigure" />
    </item>
    <item label="Restart">
      <action name="Restart" />
    </item>
    <separator />
    <item label="Exit">
      <action name="Exit" />
    </item>
  </menu>
</menu>

</openbox_menu>

<!-- vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=xml: -->
