## .gitignore

*~
*.swp
*.orig


### vifm
.vifm/Trash/
.vifm/vifminfo

## mpd
.mpd/

## ncmpcpp
.ncmpcpp/*.log

## lftp
.lftp/*_history
.lftp/*_log

## urxvt
.urxvt/*urxvtd*

## i3
.i3/*.sock


### C {{{
# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
### C }}}

### python
__pycache__/
*.py[cod]

