## .gitignore

LOCAL/
PRIVATE/

*~
*.swp
*.orig
*.bak
*_bak
.#*

### python
__pycache__/
*.py[cod]

### emeacs & spacemacs
*.elc
_spacemacs.d/layers/

### tmux
_tmux/resurrect/
_tmux/plugins/*
!_tmux/plugins/tpm

