## .gitignore

*~
*.swp
*.orig
*.bak
*_bak

## vifm
.vifm/Trash/
.vifm/vifminfo

## mpd
.mpd/

## ncmpcpp
.ncmpcpp/*.log

## lftp
.lftp/*_history
.lftp/*_log

## urxvt
.urxvt/*urxvtd*

## i3
.i3/*.sock

### .config {{{
# .config/fcitx
.config/fcitx/clipboard/
.config/fcitx/data
.config/fcitx/dbus
.config/fcitx/log
.config/fcitx/pinyin
.config/fcitx/table

### .config }}}

### C {{{
# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
### C }}}

### python
__pycache__/
*.py[cod]

### private {{{
# ssh
.ssh/

# abook
.abook/address*

# msmtp
.msmtp/

# offlineimap
.offlineimap/Account-*
.offlineimap/Repository-*
.offlineimap/*.gpg
.offlineimap/*.log
.offlineimap/*.crt
.offlineimap/*pid
.offlineimap/*lock

# mutt
.mutt/aliases
.mutt/certificates
.mutt/xlabels
.mutt/*history
.mutt/mailboxes*
.mutt/signature
.mutt/accounts/
.mutt/cache/
.mutt/tmp/

# todo
.todo/todo.txt
.todo/todo.txt.bak
.todo/done.txt
.todo/report.txt

.netrc
### private }}}

