[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=conky
Comment=start conky
Exec=sleep 3 && conky -d
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

