[Desktop Entry]
Type=Application
Name=Notes
Name[zh_CN]=便笺
Name[zh_TW]=小筆記
Comment=Ideal for your quick notes
Comment[zh_CN]=一个理想的快速便笺程序
TryExec=xfce4-notes
Exec=xfce4-notes
Icon=xfce4-notes-plugin
OnlyShowIn=XFCE;GNOME;
Terminal=false
Hidden=false
